.form_heading {
  text-align: center;
  color: black;
  font-weight: 900;
  font-size: 2.4em;
  margin: 10px 0;
  line-height: 1.4em;
}

.form_para {
  text-align: center;
  color: black;
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.4em;
}

.google_icon{
  background-color: transparent;
  margin-right: 4px;
}

.login_body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url('/login_bg_black.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  background: none;
  border: 2px solid var(--button-color);
  color: var(--button-color);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
  font-size: 1em;
}

.button:hover{
  color: #222;
  background: var(--white);
}

h1,h2,h3,h4{
  /* color: #DDDBFF; */
  background-color: transparent;
  font-weight: normal;
  line-height: 1.4em;
}

p,a,li{
  color: #9893D8;
  background-color: transparent;
  line-height: 1.4em;
  font-size: 1em;
}

/* mobile style */
.login_main{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.form_container{
    width: clamp(80vw, 350px, 400px);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

#login_form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form_para_2{
  text-align: center;
  color: black;
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.4em;
}

.login_img{
  display: none;
}

input[type='text'], input[type='email'], textarea, input[type='password']{
  background-color: white;
  padding: 10px;
  color: black;
  font-size: 1.4em;
  line-height: 1.4em;
}

.btn_icon{
  margin-right: 6px;
  height: 1em;
  background-color: transparent;
}

.sign_up_btn {
  margin: 0 20px;
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1em;
}

.sign_up_btn:hover {
  background-color: var(--white);
  color: black;

  transition: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0s;
}

.btn_transition {
  transition: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0s;
}

.google_btn{
  margin: 0 15px;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.google_btn:hover{
  background-color: black;
  color: white;

  transition: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0s;
}

.checkbox_para{
  text-align: center;
  color: black;
  font-size: 0.9em;
  margin: 0 5px;
  line-height: 1.4em;
}

.checkbox_container{
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* large tablet & laptop styles */
@media screen and (min-width: 860px){
  .login_img{
    width: 50vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 

    background: url('/login_bg_copy.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login_main{
    border: 8px solid white;;
    border-radius: 10px;
    margin: 0 10px;
  }

  .form_container{
    width: 400px;
    margin: 0;
    border: 0;
  }
}